[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "Vundle.vim"]
    path = vim/bundle/Vundle.vim
    branch = master
    url = https://github.com/gmarik/Vundle.vim.git
[submodule "antigen"]
    path = zsh/antigen
    branch = master
    url = https://github.com/zsh-users/antigen.git
[submodule ".gitignore-boilerplates"]
	path = .gitignore-boilerplates
	url = https://github.com/github/gitignore.git
